<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.classless.min.css">
</head>
<body>
    <h1>Details</h1>
    <p><b>Title:</b> {{book.title}}</p>
    <p><b>Author:</b> {{book.author}}</p>
    <p><b>Rating:</b> {{book.rating}}</p>
    <p><b>Synopsis:</b> {{book.synopsys}}</p>
    <p><b>Create:</b> {{book.create_at}}</p>
    <p><b>Update:</b> {{book.update_at}}</p>

    <form action="{% url 'editBook' pk=book.pk %}" method="get">
        <button type="submit"> Edit </button>
    </form>
    <br>
    <form action="{% url 'listBook' %}" method="get">
        <button type="submit"> List books </button>
    </form>
    
    

</body>
</html>