{% extends 'book/base.html' %}
{% block title%} <title>new book</title> {% endblock %}

{% block content %}
    <h1>Details</h1>
    <p><b>Title:</b> {{book.title}}</p>
    <p><b>Author:</b> {{book.author}}</p>
    <p><b>Rating:</b> {{book.rating}}</p>
    <p><b>Synopsis:</b> {{book.synopsys}}</p>
    <p><b>Create:</b> {{book.create_at}}</p>
    <p><b>Update:</b> {{book.update_at}}</p>

    <a href="{% url 'editBook' pk=book.pk %}" role="button">Edit</a>
    
    <br>
    <a href="{% url 'listBook' %}" role="button">List books</a>

{% endblock %}
